.game-box {
  border: 1px solid black;
  padding: 30px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

.game-box:hover {
  background-color: #d8ecf3;
  cursor: pointer;
}

.time-control-div {
  display: block;
  width: 50px;
  float: left;
  text-align: center;
}

.time-control-img {
  width: 50px;
  float: left;
}

.date-text {
  font-size: 14px;
}

.versus-text {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.game-result {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.won {
  color: green;
}

.lost {
  color: red;
}

.draw {
  color: grey;
}

.opening-text {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 13px;
}
