.analysis-div {
  margin-left: 10vw;
  margin-top: 10px;
}

.back-button {
  float: left;
}

.board {
  float: left;
}

.move-list {
  padding-left: 30px;
  width: 210px;
  float: left;
  height: 60vh;
  overflow: auto;
}

.move {
  text-align: center;
  float: left;
  width: 100px;
  height: 25px;
  line-height: 25px;
  border-left: 1px solid black;
}

.move:hover {
  cursor: pointer;
  background-color: #d8ecf3;
}
